.logo {
    display: flex;
    flex-direction: row;
    gap: 12px;
    justify-content: center;
    align-items: center;
}

.accCharcater {
    width: 40px;
    height: 40px;
    background-color: var(--second-color);
    border-radius: 50%;
    color: var(--main-bg-color);
    font-size: 26px;
    font-weight: 700;

    display: flex;
    align-items: center;
    justify-content: center;
}
