@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400&display=swap');


:root {

  --main-text-color: black;
  --second-text-color: #7D7987;
  --header-text-color: #1F1534;
  --logo-text-color: #233348;


  --main-bg-color: white;
  --second-color: #458FF6;
  --logo-texr-color: #233348;
  --main-font-family: Molish, sans-serif;
  font-family: Molish, sans-serif;

}